/*
body {
    background-color: lightblue;
}

p {
    font-family: verdana; font-size: 20px;
}
*/

body {
    font-family: 'Fira Sans';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab';
}

.axis {
    font: 14px sans-serif; 
}

.possibly-sidebyside > div {
  float: left;
}

h1 {
    color: black; text-align: center;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.tooltip .tooltip-content {
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    max-width: 200px;
}

.tooltip p {
    margin: 0;
}

.tooltip strong {
    font-weight: bold;
}

#stacked_1 {
    display: block; /* Show the default visualization */
}

#stacked_percentage_1, #small_multiples {
    display: none; /* Hide the other visualizations initially */
}
