body {
    font-family: 'Fira Sans';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p, li, div, a, option, input {
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab';
}

.axis {
    font: 14px sans-serif; 
}

.possibly-sidebyside > div {
  float: left;
}

h1 {
    color: black; text-align: center;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.tooltip .tooltip-content {
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    max-width: 200px;
}

.tooltip p {
    margin: 0;
}

.tooltip strong {
    font-weight: bold;
}

#stacked_1 {
    display: block; /* Show the default visualization */
}

#stacked_percentage_1, #small_multiples {
    display: none; /* Hide the other visualizations initially */
}

/* styles for the Sankey diagram */
.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

/* styles for the footer */
footer{
    background-color: #111010;
    margin-top: auto;
    justify-content: center;
}

footer .cr-con{
    background-color: #232127;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}
